<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Event Horizon</title>
    <!--htmx-->
    <script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script>
    <!--css-->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>

<body hx-target="main" hx-swap="innerHTML">
    <header>
        <nav>
            <ul>
                <li><a hx-get="/" hx-boost="true">Home</a></li>
                <li><a hx-get="/users">Users</a></li>
                <li><a hx-get="/logout" hx-boost="true">Log out</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
</body>