<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <title>🌌 Event Horizon</title>
    <!--htmx-->
    <script src="https://unpkg.com/htmx.org@1.8.0"
            integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
            crossorigin="anonymous"></script>
    <!--css-->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body hx-target="main" hx-swap="innerHTML">
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="#" hx-get="/home">🌌 Event Horizon</a></strong></li>
            <li>
                <div aria-busy="true" id="top-spinner" class="htmx-indicator"></div>
            </li>
        </ul>
        {% if user %}
        <ul>
            <li hx-get="/repos-options" hx-trigger="load delay:100ms" hx-target="this"
                hx-swap="innerHTML" hx-indicator="#top-spinner"></li>
        </ul>
        {% endif %}
        <ul>
            <li>
                <a href="#" hx-get="/home">Home</a>
            </li>
            {% if user %}
            <li><a href="#" hx-get="/users">Users</a></li>
            <li><a href="#" hx-get="/logout">Log out</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% if user %}
        {% include "fragments/home.html" %}
        {% else %}
        {% include "fragments/login.html" %}
        {% endif %}
    </main>
</body>