{% extends "base.html" %}

{% block content %}
<div>
    <h2>Welcome, {{ user.full_name }}</h2>
    <hr>
    <h3>View a repository <span>
            <select hx-bind="repository" hx-on-change="repositoryChanged">
                {% for repository in repositories %}
                <option value="{{repository.id}}">{{repository.name}}</option>
                {% endfor %}
            </select>
        </span></h3>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.on("load", function () {

    })
</script>