{% extends "base.html" %}

{% block content %}
<div>
    <h2>Welcome, {{ user.full_name }}</h2>
    <hr>
    <h3>View a repository <span>
            <select hx-bind="repository" hx-on-change="repositoryChanged">
                <option value="">select a repository</option>
            </select>
        </span></h3>
</div>
{% endblock %}
{% block scripts %}
<script>
    window.addEventListener("load", function () {
        fetch("/api/v2/bb/repos")
            .then(function (response) {
                return response.json();
            }).then(function (data) {
                var select = document.querySelector("select");
                data.forEach(function (repo) {
                    var option = document.createElement("option");
                    option.value = repo.id;
                    option.textContent = repo.name;
                    select.appendChild(option);
                });
            });
    })
</script>
{% endblock %}