<form hx-post={{action}}>

    <div>
        <label for="full_name">Full name</label>
        <input type="text" name="full_name" id="full_name" placeholder="Full name">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <label for="plugin_id">Plugin ID</label>
        <input type="text" name="plugin_id" value="cbq">
    </div>
    <div>
        <label for="bitbucket_username">Bitbucket Username</label>
        <input type="text" name="bitbucket_username" placeholder="Bitbucket Username">
    </div>
    <div>
        <label for="bitbucket_app_password">Bitbucket App Password</label>
        <input type="password" name="bitbucket_app_password" placeholder="Bitbucket App Password">
    </div>
    <button>Submit</button>
</form>